.footer {
  width: 936px;
  margin: 24px auto 0 auto;
  background-color: #e5e5e5;
  height: 33px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  bottom: 9px;
  justify-content: flex-end;

  @media (max-width: 600px) {
    display: none;
  }
}
